@media all and (max-width: 1491px) {
  .header_search__form {
    width: 40%;
    margin: 25px 20px 20px;
  }

  .header__section__top {
    padding-left: 30px;
  }

  .header__div__logo {
    margin: auto;
  }

  .header__section__bottom {
    margin: auto;
    padding-left: 30px;
  }

  .main {
    margin-left: 30px;
  }
}

@media all and (max-width: 1351px) {
  .header__section__top {
    padding-left: 5px;
  }

  .header__div__logo {
    margin: auto;
  }

  .header__section__bottom {
    margin: auto;
    padding-left: 5px;
  }

  .main {
    margin-left: 5px;
  }

  .header__bottom__ul__rigth {
    margin-left: 20px;
  }
}

@media all and (max-width: 1285px) {
  .header__div__logo {
    padding-left: 20px;
  }

  .header_search__form {
    width: 40%;
    margin: 25px 20px 20px;
  }

  .search__button img {
    padding-right: 10px;
  }

  .header__bottom__ul__left li {
    width: 170.197px;
    flex-shrink: 0;
  }

  .button__clearfitler {
    margin: 0;
  }

  .main {
    margin: auto;
    width: 90%;
  }

  .main__query {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
  }

  .main__query__div {
    display: flex;
    flex-direction: column;
  }

  .main__query__a {
    margin: auto;
  }

  .main__filter {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    margin: auto;
  }

  .main__filter__selects select {
    flex-basis: 30%;
  }

  .fillter__apply__btn {
    width: 100%;
    flex-basis: 30%;
  }

  .header__section__bottom {
    width: 100%;
    max-width: 100%;
    overflow-x: scroll;
  }

  .sort__section__latest {
    display: flex;
    justify-content: space-between;
  }

  .digit__offers__ul {
    margin: auto;
  }

  .offers__section {
    flex-direction: column;
    height: auto;
    width: 0;
  }

  .pagination {
    margin: auto;
    justify-content: center;
  }
}

@media all and (max-width: 980px) {
  .header__div__logo {
    padding-left: 20px;
  }
  .sort__section {
    flex-direction: column-reverse;
    gap: 15px;
  }
  .sort__section__latest,
  .clear__offers__btn,
  .digit__offers__ul {
    margin: auto;
  }
}

@media all and (max-width: 780px) {
  .offers__section div {
    padding-left: 0px;
  }

  .query__div_p1 {
    font-size: 32px;
  }
}

@media all and (max-width: 750px) {
  .header__info__ul  {
    display: none;
  }

  .header__div__logo{
    padding: 0;
  }

  .header_search__form {
    margin: auto;
  }
 
  .query__div_p1{
    font-size: 24px;
  }

  .query__div_p2 {
    font-size: 16px;
  }

  .main__filter__selects select {
    font-size: 14px;
  }

  .main__section__offers {
    flex-direction: column;
    width: 100%;
  }

  .offers__section {
    width: 100%;
  }
  .aside__orders__div {
    display: flex;
    flex-direction: row;
    height: auto;
  }
  .aside {
    float: none;
    width: 100%;
  }

  .aside__div__news {
    display: none;
  }

  .aside__div__ad {
    display: none;
  }

  .aside__article {
    display: flex;
    flex-direction: row;
  }

  .sort__section {
    width: 100%;
  }

  .offers__div__offer1 {
    width: 100%;
    display: flex;
  }
}
