@media all and (max-width: 1491px) {
  .header_search__form {
    width: 40%;
    margin: 25px 20px 20px;
  }

  .header__section__top {
    padding-left: 30px;
  }

  .header__div__logo {
    margin: auto;
  }

  .header__section__bottom {
    margin: auto;
    padding-left: 30px;
  }

  .main {
    margin-left: 30px;
  }
}

@media all and (max-width: 1351px) {
  .header__section__top {
    padding-left: 5px;
  }

  .header__div__logo {
    margin: auto;
  }

  .header__section__bottom {
    margin: auto;
    padding-left: 5px;
  }

  .main {
    margin-left: 5px;
  }

  .header__bottom__ul__rigth {
    margin-left: 20px;
  }
}

@media all and (max-width: 1285px) {
  .header__div__logo {
    padding-left: 20px;
  }

  .header_search__form {
    width: 40%;
    margin: 25px 20px 20px;
  }

  .search__button img {
    padding-right: 10px;
  }

  .header__bottom__ul__left li {
    width: 170.197px;
    flex-shrink: 0;
  }

  .button__clearfitler {
    margin: 0;
  }

  .main {
    margin: auto;
    width: 90%;
  }

  .main__query {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
  }

  .main__query__div {
    display: flex;
    flex-direction: column;
  }

  .main__query__a {
    margin: auto;
  }

  .main__filter {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    margin: auto;
  }

  .main__filter__selects select {
    flex-basis: 30%;
  }

  .fillter__apply__btn {
    width: 100%;
    flex-basis: 30%;
  }

  .header__section__bottom {
    width: 100%;
    max-width: 100%;
    overflow-x: scroll;
  }

  .sort__section__latest {
    display: flex;
    justify-content: space-between;
  }

  .digit__offers__ul {
    margin: auto;
  }

  .offers__section {
    flex-direction: column;
    height: auto;
    width: 0;
  }

  .pagination {
    margin: auto;
    justify-content: center;
  }
}

@media all and (max-width: 980px) {
  .header__div__logo {
    padding-left: 20px;
  }
  .sort__section {
    flex-direction: column-reverse;
    gap: 15px;
  }
  .sort__section__latest,
  .clear__offers__btn,
  .digit__offers__ul {
    margin: auto;
  }
}

@media all and (max-width: 780px) {
  .offers__section div {
    padding-left: 0px;
  }

  .query__div_p1 {
    font-size: 32px;
  }
}

@media all and (max-width: 750px) {
  .header__info__ul {
    display: none;
  }

  .header__div__logo {
    padding: 0;
  }

  .header_search__form {
    margin: auto;
  }

  .query__div_p1 {
    font-size: 24px;
  }

  .query__div_p2 {
    font-size: 16px;
  }

  .main__filter__selects select {
    font-size: 14px;
  }

  .main__section__offers {
    flex-direction: column;
    width: 100%;
  }

  .offers__section {
    width: 100%;
  }
  .aside__orders__div {
    display: flex;
    flex-direction: row;
    height: auto;
  }
  .aside {
    float: none;
    width: 100%;
  }

  .aside__div__news {
    display: none;
  }

  .aside__div__ad {
    display: none;
  }

  .aside__article {
    display: flex;
    flex-direction: row;
  }

  .sort__section {
    width: 100%;
  }

  .offers__div__offer1 {
    width: 100%;
    display: flex;
  }
}

@media all and (max-width: 550px) {
  .query__div_p1 {
    font-size: 18px;
  }

  .query__div_p2 {
    font-size: 14px;
  }

  .main__filter__p {
    flex-direction: column;
    align-items: center;
  }

  .div__clearfilter {
    margin: auto;
  }
  .main__filter__selects select {
    flex-basis: 80%;
  }

  .fillter__apply__btn {
    flex-basis: 80%;
  }

  .aside__orders__div {
    flex-direction: column;
  }

  .offers__section div article {
    width: 100%;
  }
}

@media all and (max-width: 530px) {
  /* HEADER */

  .main__filter {
    display: none;
  }
  .header__section__top {
    height: 59px;
  }
  .header__logo {
    width: 173.001px !important;
    height: 28.129px !important;
    margin: 5px 0px 0 4px;
  }

  .mobile__menu {
    display: inline;
    background-color: transparent;
    border: none;
    margin-left: 124px;
    margin-top: 3px;
  }

  .header_search__form {
    display: none;
  }

  .header__section__bottom {
    height: 45px;
  }

  .header__bottom__ul__left li {
    margin: auto !important;
    height: 24px;
  }

  .header__bottom__ul__left li:nth-child(1) {
    width: 100px;
  }

  .header__bottom__ul__left li:nth-child(2) {
    width: 170.197px;
  }

  .header__bottom__ul__left li:nth-child(3) {
    display: none;
  }

  .header__bottom__ul__left li:nth-child(4) {
    width: 75px;
  }

  .header__bottom__ul__left li:nth-child(5) {
    width: 79px;
  }

  .header__bottom__ul__left li:nth-child(6) {
    width: 90px;
  }

  .header__bottom__ul__left li a {
    font-size: 11px;
    width: 75%;
    margin-left: 5px;
  }

  .header__bottom__ul__left li a span {
    margin: auto;
  }

  .header__bottom__text {
    margin: 0;
  }

  .header__bottom_img1 img,
  .header__bottom_img2 img,
  .header__bottom_img3 img,
  .header__bottom_img4 img,
  .header__bottom_img5 img,
  .header__bottom_img6 img {
    width: 15.522px;
    height: 15.522px;
    margin: 3px 5px 0 2px;
  }

  .header__bottom__ul__rigth img {
    width: 22px;
    height: 22px;
    margin: 0;
  }

  .header__bottom__ul__rigth li:nth-child(1) {
    width: 35px;
    height: 35px;
    margin: auto;
  }

  .header__bottom__ul__rigth li:nth-child(1) img {
    margin-top: 5px;
  }

  /* MAIN */

  .main__query {
    flex-direction: column-reverse;
    margin-top: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c1c1c1;
  }

  .query__div_p1 {
    display: none;
  }

  .main__query__a {
    width: 343px;
  }

  .main__query__icon {
    margin-left: 83px;
  }

  .main__query__text {
    padding-right: 35px;
  }

  .main__query__div {
    flex-direction: row;
    width: 110%;
  }

  .query__img {
    display: inline;
    margin: -6px 0 0 98px;
  }

  .query__div_p2 {
    font-size: 12px;
    margin: -1px 0 0 5px;
    padding: 0;
  }

  .query__div_p2 span {
    font-size: 18px;
  }

  .aside {
    width: 100%;
    padding-left: 0;
    margin: 0;
  }

  .aside__orders__div a:nth-child(1) {
    width: 107px;
    margin: 10.5px 0 0 5px;
  }

  .aside__orders__div a:nth-child(2) {
    width: 181.136px;
    margin: 10.5px 0 0 5px;
  }

  .aside__article {
    display: inline;
  }

  .aside__orders__div {
    flex-direction: row;
    border: none;
  }

  .aside__order__btn {
    display: inline;
    background-color: transparent;
    border: none;
    padding: 10px 0px 0 2px;
  }

  .offers__section {
    margin-top: 8px;
    border-top: 1px solid #c1c1c1;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 0px;
  }

  .sort__section {
    margin: 15px 0px 0 -21.5px;
    padding: 0;
  }

  .digit__offers__ul {
    order: 4;
  }

  .sort__section__latest {
    display: none;
  }

  .clear__offers__btn {
    order: 2;
  }

  .filter__button__ul {
    display: none;
  }

  .filter__button__ul {
    order: 3;
    display: flex;
    flex-direction: row;
    padding-left: 25px;
  }

  .filter__button__ul button {
    width: 110.815px;
    height: 33px;
    flex-shrink: 0;
    border-radius: 50px;
    color: #000;
    text-align: center;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    line-height: 18px;
    border: none;
    margin: -1px 6px 0 0;
  }

  .active {
    border: 1px solid #008aee !important;
    background: var(--blue-opacity, rgba(23, 141, 235, 0.15));
  }

  .clear__offers__btn {
    font-size: 14px;
    margin: -5px 0 0 65px;
  }

  .clear__offers__icon {
    width: 17px;
    height: 17px;
    left: 41px;
    top: 3px;
  }

  .offers__div__offer1,
  .offers__div__offer2,
  .offers__div__offer3,
  .offers__div__offer4,
  .offers__div__offer5,
  .offers__div__offer6 {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .offers__div__offer6 {
    display: none;
  }

  .first__photo {
    width: 343px;
  }

  .section__second__photos {
    display: none;
  }

  .section__first__photo p {
    left: 16px;
    top: 2px !important;
  }

  .heart__img {
    left: 309px;
  }

  .section__infoOwner {
    padding: 0;
    margin: 3px 0 0 1px;
    padding-bottom: 14px;
  }

  .section__infoOwner p {
    font-size: 12px;
  }

  .div__info {
    margin-left: 1px;
  }

  .div__expiration {
    margin-left: -10px;
  }

  .offer__info {
    margin-top: 0px;
  }

  .p__tag {
    font-size: 10px;
    width: 68px;
    height: 21px;
  }

  .offer__received {
    margin-top: 3px;
  }

  .offer__info__p {
    font-size: 12px;
    line-height: 16px;
  }

  .offer__carInfo p {
    font-size: 10px;
  }

  .offer__carInfo__p2,
  .offer__carInfo__p4 {
    padding: 0 0 0 27px;
  }

  .offer__carInfo__p3,
  .offer__carInfo__p4 {
    margin: 0 0 8px 0 !important;
  }

  .offer__btn__send {
    width: 343px;
    margin: 8px 0 0 2px;
    content: "asd";
  }

  .offer__lastBtns {
    display: none;
  }

  .offer__mobileLastBtn {
    display: flex;
    margin: 8px 6px 0 0;
  }

  .have__btn {
    width: 155.351px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid #008aee;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 18px;
    background-color: transparent;
    padding: 0 8px 12px 0;
  }

  .have__btn img {
    padding: 10px 5px 0 0;
  }

  .check__btn {
    width: 179.212px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid #008aee;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 18px;
    background-color: transparent;
    padding: 0 0 2px 0;
    margin-left: 6px;
  }

  .check__btn img {
    margin-right: 5px;
    margin-bottom: -3px;
  }

  .offers__div__offer1 {
    margin: -19px 0 0 4px;
  }

  .offers__div__offer2 {
    margin: -31px 0 0 4px;
  }

  .offers__div__offer2 .heart__img {
    display: none;
  }

  .offers__div__offer3 {
    margin: -45px 0 0 4px;
  }

  .offers__div__offer3 .heart__img {
    display: none;
  }

  .offers__div__offer4 {
    margin: -45px 0 0 4px;
  }
  .offers__div__offer4 .heart__img {
    display: none;
  }

  .offers__div__offer5 {
    margin: -45px 0 0 4px;
  }

  .offers__div__offer5 .heart__img {
    display: none;
  }

  .pagination {
    display: none;
  }

  .pagination__mobile {
    display: flex;
    flex-direction: row;
    color: #000;
    text-align: center;
    font-size: 26px;
    font-family: "Exo", sans-serif;
    line-height: 20px;
    gap: 10px;
    padding-right: 7px;
  }

  .pagination__mobile button {
    border: none;
    background-color: transparent;
  }

  .pagination__mobile span {
    color: #008aee;
  }
}
