@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0 auto;
}

ol,
ul {
  list-style: none;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

/* Header */

.header__section__top {
  background-color: #16242e;
  height: 72px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.header__div__logo {
  align-self: center;
  margin-left: 178px;
  padding-top: 6px;
}

.header__div__logo img {
  width: 100%;
  height: 100%;
}

.header_search__form {
  width: 463px;
  height: 45px;
  align-self: center;
  border: 1px solid #008aee;
  border-radius: 50px;
  color: #777777;
  background-color: #16242e;
  display: flex;
  margin: 4px 82px 0 0;
}

.header_search__form input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  border-radius: 50px 0px 0px 50px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-style: normal;
  font-weight: 400;
  padding: 6px 0 5px 30px;
  color: white;
}

.search__button {
  height: 100%;
  width: 20%;
  background-color: transparent;
  padding: 0px;
  border: none;
  margin: 0 auto;
  align-self: center;
  padding-left: 5px;
  margin-top: 2px;
}

.header__info__ul {
  margin: 0;
  padding-left: 0;
  height: 100%;
  display: flex;
}

.header__info__ul li {
  background: transparent;
  margin: auto;
  flex-shrink: 0;
}

.header__info__ul li:nth-child(1) {
  margin: 14px 10px 0 0;
  flex-shrink: 0;
}

.header__info__ul li:nth-child(1) button {
  border-radius: 44px;
  background: #008aee;
  border: none;
  color: white;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  text-align: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  overflow: hidden;
  margin: auto;
}

.header__info__ul li:nth-child(2) {
  margin: 15px 7px 0 0;
}

.header__info__ul li:nth-child(3) {
  margin: 19px 17px 0 0;
}

.header__info__ul li:nth-child(4) {
  margin: 22px 12px 0 0;
}

.header__info__ul li:nth-child(5) {
  margin: 16px 161px 0 0;
}

.header__info__ul li:nth-child(5) a {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  line-height: 42px;
  text-decoration: none;
  width: 120px;
}

/* HEADER BOTTOM */

.header__section__bottom {
  /* width: 100vw; */
  height: 75px;
  background-color: #1c2d3a;
  overflow: hidden;
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.header__bottom__ul__left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.header__bottom__ul__left li {
  margin: auto 10px auto auto;
  width: 172px;
  height: 37px;
  flex-shrink: 0;
  margin: auto;
}

.header__bottom__ul__left li a {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.header__bottom_img1 {
  background: url(/assets/setting2.png) no-repeat 0 0;
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 24px;
  margin: 5px 5px 10px 16px;
}

.header__bottom__text {
  margin: 5px 5px 5px 2px;
}

.header__bottom_img2 {
  background: url(/assets/car.png) no-repeat 0 0;
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 24px;
  margin: 5px 5px 10px 16px;
}

.header__bottom_img3 {
  background: url(/assets/auctions.png) no-repeat 0 0;
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 24px;
  margin: 8px 5px 10px 18px;
}

.header__bottom__text3 {
  margin: 6px 2px 5px 0px;
  font-family: "Exo 2", sans-serif;
}

.header__bottom_img4 {
  background: url(/assets/shop.png) no-repeat 0 0;
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 24px;
  margin: 6px 5px 10px 16px;
}

.header__bottom__text4 {
  margin: 6px 2px 5px 1px;
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
}

.header__bottom_img5 {
  background: url(/assets/star.png) no-repeat 0 0;
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 24px;
  margin: 6px 5px 10px 16px;
}

.header__bottom__text5 {
  margin: 6px 0px 5px 0px;
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
}

.header__bottom_img6 {
  background: url(/assets/book.png) no-repeat 0 0;
  width: 26px;
  height: 24px;
  margin: 5px 5px 10px 19px;
}

.header__bottom__text6 {
  margin: 5px 1px 5px 0px;
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
}

.header__bottom__ul__left li:nth-child(1) {
  border-radius: 50px;
  border: 1px solid var(--blue, #008aee);
  background: #008aee;
  margin: 17px auto auto 25px;
}

.header__bottom__ul__left li:nth-child(2) {
  width: 181px;
  border-radius: 50px;
  background: #f2992f;
  margin-bottom: 21px;
}

.header__bottom__ul__left li:nth-child(3) {
  width: 143px;
  border-radius: 50px;
  background: #2ccaca;
  margin-bottom: 21px;
}

.header__bottom__ul__left li:nth-child(4) {
  width: 123px;
  border-radius: 50px;
  background-color: #33bb5a;
  margin-bottom: 21px;
}

.header__bottom__ul__left li:nth-child(5) {
  width: 112px;
  border-radius: 50px;
  background-color: #bd5fe9;
  margin-bottom: 21px;
}

.header__bottom__ul__left li:nth-child(6) {
  width: 140px;
  border-radius: 50px;
  background-color: #ee4700;
  margin-bottom: 21px;
}

.header__bottom__ul__rigth {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 10px;
  margin-left: 74px;
}

.header__bottom__ul__rigth li {
  text-decoration: none;
  margin: auto;
}

.header__bottom__ul__rigth li:nth-child(1) {
  width: 46px;
  height: 46px;
  border-radius: 50px;
  align-self: center;
  align-items: center;
  text-align: center;
  background: rgb(242, 153, 47);
  background: linear-gradient(140.48deg, #ffd951 12.51%, #f2992f 87.69%);
  margin-bottom: 17px;
}

.header__bottom__ul__rigth li:nth-child(1) img {
  margin-top: 8px;
}

.header__bottom__ul__rigth li:nth-child(2) {
  margin-left: 6px;
}

.header__bottom__ul__rigth li:nth-child(3) {
  margin-left: 5px;
}

.header__bottom__ul__rigth li:nth-child(4) {
  margin-left: 5px;
}

/* MAIN */

/* FIRST SECTION */
.main {
  width: 79%;
  margin: auto;
}

.main__query {
  display: flex;
  flex-direction: row;
}

.main__query__div {
  width: 80%;
  margin: 0;
}

.query__div_p1 {
  font-family: "Exo 2", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 27px;
  padding-left: 18px;
}

.query__div_p2 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 18px;
  margin-top: 17px;
  padding-left: 18px;
}

.query__div_p2 span {
  color: #33bb5a;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.main__query__a {
  width: 271px;
  height: 45px;
  border-radius: 50px;
  background-color: #33bb5a;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: 48px 2px 0 0px;
  flex-shrink: 0;
}

.main__query__icon {
  background: url(/assets/bookmark2.png) no-repeat 0 0;
  width: 24px;
  height: 21.67px;
  color: white;
  margin: auto;
  margin-left: 46px;
  margin-top: 10px;
}

.main__query__text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  margin: auto;
  margin-left: -37px;
  margin-top: 15px;
}

/* FILTER SECTION  */
.main__filter {
  width: 1180px;
  height: 191px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: #00000026;
  margin: 30px 0 0 20px;
  box-shadow: 5px 7px 30px 5px rgba(0, 0, 0, 0.21);
}

.main__filter__p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.p__filter {
  color: #231f20;
  font-size: 30px;
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  line-height: 38px;
  margin: 15px 0 0 27px;
}

.div__clearfilter {
  display: flex;
  flex-direction: row;
  padding-left: 146px;
}

.icon_clearfilter {
  background: url(/assets/arrowrotateright.png) no-repeat 0 0;
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  padding: 0px 10px 0px 13px;
  margin-top: 7px;
}

.button__clearfitler {
  color: #008aee;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 24px;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  margin: 12px 0 0 670px;
  padding: 0;
}

.main__filter__selects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 14px;
  padding: 0 29px 0 26px;
  gap: 12px;
}

.main__filter__selects select {
  width: 367px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid #008aee;
  box-shadow: 0px 0px 0px 0px rgba(0, 138, 238, 0.15);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
  appearance: none;
  -webkit-appearance: none;
  background-position: calc(100% - 20px) center !important;
  background: url(/assets/Vector\ 21.svg) no-repeat;
}

.fillter__apply__btn {
  width: 367px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid #008aee;
  box-shadow: 0px 0px 0px 0px rgba(0, 138, 238, 0.15);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
  padding-left: 22px;
  padding: 2px 2px 0 0;
  background: var(--blue, #008aee);
  color: white;
}

#disabled {
  border: 2px solid #e9e9e9;
  box-shadow: 0px 0px 0px 0px rgba(0, 138, 238, 0.15);
  opacity: 0.4;
}

.main__filter__select1,
.main__filter__select4 {
  padding: 0px 0 1px 26px;
}

.main__filter__select3 {
  padding: 0px 0 1px 23px;
}

.main__filter__select2,
.main__filter__select5 {
  padding: 0px 0 1px 25px;
}

/* ASIDE SECTION */

/* ASIDE FIRST SECTION */
.aside {
  width: 237px;
  float: left;
  margin: 25.5px 0 0 0px;
  padding-left: 19px;
}

.aside__article {
  display: flex;
  flex-direction: column;
}

.aside__orders__div {
  height: 125px;
  border-bottom: 2px solid #c1c1c1;
}

.aside__orders__div a {
  display: block;
  width: 237px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 50px;
  background: var(--blue, #008aee);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 10px;
  padding-top: 14.5px;
}

/* ASIDE SECOND SECTION */

.aside__div__news {
  margin: 0;
}

.aside__div__news ul {
  width: 100%;
  padding: 0;
}

.aside__div__news ul li a {
  display: flex;
  flex-direction: row;
  color: #000;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 15px;
}

.span__icon__news {
  background: url(/assets/news.png) no-repeat 0 0;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 14px 10px 10px 0px;
}

.span__text__news {
  margin: 18px 0 0 0;
  color: #008aee;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 15px;
}

.span__icon__offered {
  background: url(/assets/offered.png) no-repeat 0 0;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 5px 10px 10px -1px;
}

.span__text__offered {
  margin: 9px 0 0 1px;
}

.span__icon__notes {
  background: url(/assets/notes.png) no-repeat 0 0;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 5px 10px 10px -1px;
}

.span__text__notes {
  margin: 9px 0 0 1px;
}

.span__icon__reviews {
  background: url(/assets/reviews.png) no-repeat 0 0;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 5px 10px 10px 0px;
}

.span__text__reviews {
  margin: 9px 0 0 1px;
}

.aside__div__ad {
  padding-left: 15.5px;
}

.aside__div__ad a {
  width: 100%;
}

.span__icon__answer {
  background: url(/assets/q&a.png) no-repeat 0 0;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 5px 10px 10px 0px;
}

.span__text_answer {
  margin: 9px 0 0 1px;
}

.div__news__last__li {
  margin-top: 4.5px;
  padding-top: 9px;
  border-top: 2px solid #c1c1c1;
}

/* ASIDE THIRD SECTION */

.aricle__ad {
  width: 195px;
  height: 758px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f3f3f3;
  margin: 42px 12px 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.div__ad__first {
  display: flex;
  flex-direction: row;
  color: #959595;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 18px;
  justify-content: space-between;
  padding-top: 13.5px;
}

.ad__p {
  margin-left: 10px;
}

.ad__dots {
  font-weight: 700;
  transform: rotate(90deg);
  margin-left: 135px;
  margin-top: -3.1px;
}

.div__first__img {
  height: 267px;
  margin-top: 20px;
  background: url(/images/koi-prodava-nai-mnogo-novi-koli-u-nas-prez-2019-a-1\ 1.png),
    lightgray 50% / cover no-repeat;
  border-radius: 30px 30px;
}

.div__first__img img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.ad__first__div__p {
  width: 160px;
  height: 127px;
  flex-shrink: 0;
  background: #c60b0f;
  position: absolute;
  top: 314px;
  left: 18px;
}

.ad__first__p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  width: 125px;
  margin-top: 25px;
}

.ad__second__img {
  width: 256px;
  height: 173px;
  flex-shrink: 0;
  margin: 118px 0 0 18px;
}

.ad__second__div_p {
  width: 160px;
  height: 136px;
  flex-shrink: 0;
  background: #c60b0f;
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: 604px;
  left: 18px;
}

.ad__second__div__inner {
  width: 114.667px;
  height: 75px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ebebeb;
  margin-top: 26px;
}

.ad__second_p {
  color: #1a1b16;
  text-align: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 14px;
}

/* RIGTH SECTION */

.sort__section {
  padding: 26px 0 0 18px;
  display: flex;
  flex-direction: row;
}

.sort__section__latest {
  width: 186px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid #777;
  box-shadow: 0px 0px 0px 0px rgba(0, 138, 238, 0.15);
  color: #777;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 24px;
  padding: 0 10px 0px 25px;
  margin: 0 0 0 34px;
  appearance: none;
  -webkit-appearance: none;
  background-position: calc(100% - 20px) center !important;
  background: url(/assets/Vector\ 21.svg) no-repeat;
}

.clear__offers__btn {
  color: #008aee;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 24px;
  text-decoration-line: underline;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0px 0 0 20px;
}

.clear__offers__icon {
  background: url(/assets/cleararrow.png) no-repeat 0 0;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  padding: 4px 10px 0 20px;
}

.digit__offers__ul {
  display: flex;
  flex-direction: row;
  margin-left: 172px;
  margin-top: 9px;
  gap: 20px;
}

.digit__offers__ul li {
  display: flex;
  flex-direction: row;
}

.digit__offers__ul li p {
  color: var(--blue, #008aee);
  font-size: 26px;
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  margin: -2px 0 0px 5px;
}

.digit__offers_img1 {
  width: 27px;
  height: 27px;
  flex-shrink: 0;
  margin-top: 2px;
}

.digit__offers__p1 {
  padding-top: 0.5px;
}

.digit__offers_img2 {
  width: 29.548px;
  height: 29.548px;
  flex-shrink: 0;
}

.digit__offers__p2 {
  padding-top: 1px;
}

.digit__offers_img3 {
  width: 28.056px;
  height: 30.06px;
  flex-shrink: 0;
}

.digit__offers__p3 {
  padding-top: 2px;
}

/* OFFERS SECTION */

.offers__section {
  /* background-color: #008aee; */
  width: 960px;
  height: 2020px;
  margin: 11px -10px 0 261px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.offers__div__offer1,
.offers__div__offer2,
.offers__div__offer3,
.offers__div__offer4,
.offers__div__offer5,
.offers__div__offer6 {
  width: 477px;
  height: 658px;
  flex-shrink: 0;
}

.offers__div__offer2,
.offers__div__offer4,
.offers__div__offer6 {
  padding-top: 2px;
}

.offers__div__offer1,
.offers__div__offer3 {
  padding: 5px 0 0 15px;
}

.offers__div__offer5 {
  padding: 0px 0 0 15px;
}

.offers__div__offer6 {
  border-radius: 20px;
  background: #fff;
  box-shadow: 2px 3px 20px 0px rgba(0, 0, 0, 0.15);
}

.offers__section div article {
  width: 436px;
  height: 609px;
  flex-shrink: 0;
  /* background-color: lightblue; */
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}

.offer__section__photos {
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 243px;
}

.section__first__photo {
  z-index: 0;
  height: 229px;
  flex-shrink: 0;
  margin: 0;
  border-radius: 20px;
  max-width: 75%;
  position: relative;
}

.first__photo {
  width: 325px;
  height: 229px;
  z-index: -1;
}

.heart__img {
  width: 20px;
  height: 17px;
  flex-shrink: 0;
  position: absolute;
  top: 199px;
  right: 17px;
}

.offer__section__photos div p {
  width: 129px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 50px;
  background: var(--red, #fd3541);
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 18px;
  margin: 12px 0 0 186px;
  padding-top: 3px;
  z-index: 1;
  position: absolute;
  top: 0px;
}

.section__second__photos {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  padding-left: 10px;
}

.section__second__photos span {
  margin-bottom: 5px;
}

.section__infoOwner {
  max-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 14px;
  border-bottom: 2px solid #c1c1c1;
}

.div__info,
.div__expiration {
  width: 50%;
}

.div__info span {
  width: 26px;
  height: 26px;
  color: #434343;
  text-align: center;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  border-radius: 26px;
  background: #d9d9d9;
  padding: 6px 9px;
}

.div__info p {
  color: #231f20;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 24px;
  margin-left: -2px;
}

.div__expiration {
  text-align: right;
  padding-top: 3px;
}

.section__infoOwner div p {
  display: inline;
}

.div__expiration p {
  color: #231f20;
  text-align: right;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 18px;
  margin: 10px 6px 0 0;
}

.div__expiration span {
  color: #008aee;
}

/* SECOND OFFER SECTION */

.offer__info {
  display: flex;
  flex-direction: column;
  margin: 0;
  border-bottom: 2px solid #C1C1C1;
  padding-bottom: 16px;
}

.p__tag {
  width: 74px;
  height: 21px;
  flex-shrink: 0;
  width: 74px;
  height: 21px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  border-radius: 50px;
  background: #33bb5a;
  text-align: center;
  justify-self: start;
  margin: 10px 300px 0 0;
  padding-top: 4px;
}

.offer__info__p {
  color: #000;
  font-size: 16px;
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  line-height: 22px;
  padding-top: 3px;
  padding-bottom: 9px;
 
}

.offer__received span,
.offer__comment span {
color: #008AEE;
}

.offer__received {
font-size: 12px;
font-family: "Roboto", sans-serif;
font-weight: 600;
line-height: 16px;
margin: 0px 0 0 0;
}

.offer__comment {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 16px;
  margin: 0;
}

/* THIRD OFFERS SECTION */


